{% extends 'shared/layout.html' %}

{% block content %}Home{% endblock %}

{% block maincontent %}
<div class="info_head">

    <p>
        Find all the major events on campus
    </p>

    <p>
        Click on any of the link to learn more

    </p>
    <ul>
        <p class="bubble"><a href="clubs.html">Clubs</a></p>
        <br>
        <p class="bubble"> <a href="professional.html">Professional</a></p>
        <br>
        <p class="bubble"> <a href="community.html">Community</a></p>
        <br>
        <p class="bubble"> <a href="entertainment.html">Entertainment</a></p>
    </ul>
</div>

{% endblock %}