{% extends 'shared/layout.html' %}

{% block content %}Home{% endblock %}

{% block maincontent %}
<div class="main_page">
    <p>
        Find all the major events on campus
    </p>

    <p>
        Click on any of the link to learn more


    </p>
    <ul>
        <p><a href="clubs.html">Clubs</a></p>
        <p> <a href="professional.html">Professional</a></p>
        <p> <a href="community.html">Community</a></p>
        <p> <a href="entertainment.html">Entertainment</a></p>
    </ul>
</div>

{% endblock %}