.main_page{
  text-align: center;
}
body {
  background-color: rgb(228, 228, 228);
}
.info_head {
    text-align: center;
    text-transform: uppercase;
    font-size: 25pt;
    background-color: rgb(24, 69, 59);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}  
p {
  color: rgb(0, 0, 0);
}