.main_page{
  text-align: center;
}
body {
  background-color: rgb(228, 228, 228);
}
.info_head {
    text-align: center;
    text-transform: uppercase;
    font-size: 25pt;
    background-color: rgb(24, 69, 59);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}  
p {
  font-weight: bold;
  background-color: rgb(236, 236, 236);
  color: rgb(0, 0, 0);

}
.bubble {
  display: inline-block;
  padding-right: 15px;
  padding-top: 10px;
  text-decoration: none;
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  width: 270px;
  height: 50px;
}

